{% extends 'base.html' %}
{% block content %}
<h2>All Tasks</h2>
<a href="{% url 'assign_task' %}" class="btn btn-success mb-3">Assign New Task</a>
<table class="table table-bordered">

    
    <tr>
        <th>Title</th>
        <th>Employee</th>
        <th>Description</th>
        <th>Status</th>
        <th>Date</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.employee.user.get_full_name }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.created_at }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
